<div class="contact-me">
  <h2>Get in Touch</h2>
  <a class="btn" href="mailto:immohitsharma8@gmail.com">Contact me</a>
  <div>
    <a href="">Twitter</a>
    <a href="https://github.com/dexterarmy">Github</a>
    <a href="https://www.linkedin.com/in/mohit-sharma-094517249/">Linkdin</a>
  </div>
</div>
