<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>

    <main>
      <div class="info">
        <div class="info-1">Hi, i am Mohit Sharma.</div>
        <div class="info-2">
          <img src="images/monitor.png" alt="" />
          <p>
            I am a web developer. For front end part i am currently relying on
            html, css and javascript but surely i want to put my hands on react.
            For backend part i am using Nodejs with express framework. For
            database part i am using mongoDB with mongoose framework. I have
            built some APIs with express, mongoose and nodejs, building API and
            learning more about them excites me, like how we can optimize our
            API development, how to handle security concerns, how to handle
            errors etc. The whole world is using APIs and the whole world is
            built around APIs so learning more and more about them excites me.
          </p>
        </div>
        <div class="info-3">
          <img src="images/body-weight.png" alt="" />
          <p>
            Apart from that i also like working out, I am a huge workout
            enthusiast and i have been doing calisthenics for 5 years, haven't
            mastered it yet long road to go for that.
          </p>
        </div>
        <div class="info-4">
          <h2>Skills</h2>
          <table>
            <tr>
              <td>Front-end</td>
              <td>html, css, javascript</td>
            </tr>
            <tr>
              <td>Back-end</td>
              <td>Nodejs, Express</td>
            </tr>
            <tr>
              <td>Database</td>
              <td>MongoDB, mongoose</td>
            </tr>
            <tr>
              <td>Version Control</td>
              <td>Git,Github</td>
            </tr>
            <tr>
              <td>API testing</td>
              <td>Postman</td>
            </tr>
          </table>
          <br />
          <br />
          <h4>
            I am not well versed with the below skills, just tried my hands on
            them and made simple project based on them
          </h4>
          <table>
            <tr>
              <td>Backend</td>
              <td>python, flask</td>
            </tr>
            <tr>
              <td>database</td>
              <td>SQL</td>
            </tr>
          </table>
          <br />
          <br />
          <h2>Courses</h2>
          <table>
            <tr>
              <td>CS50</td>
              <td>Introduction to computer science</td>
            </tr>
            <tr>
              <td>Javascript</td>
              <td>Javascript full Course by jonas schmedtmann /td></td>
            </tr>

            <tr>
              <td>Nodejs, Express, MongoDB</td>
              <td>
                Nodejs, Express , MongoDB and more course by jonas Schmedtmann
              </td>
            </tr>
          </table>
          <br />
          <br />
        </div>
      </div>
    </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
